<%= form_tag("/users/#{ @user.id }/update") do %>
  <div class="continer">
    <%= flash[:notice] %>
    <div class="self-form">
      <h3>ユーザ情報編集</h3>
      <fieldset class="form-group">
        <div class="form-group">
          <label>ログインID</label>
          <input type="text" name="user_id" class="form-control" value="<%= @user.user_id %>">
        </div>
        <div class="form-group">
          <label>名前</label>
          <input type="text" name="name" class="form-control" value="<%= @user.name %>">
        </div>
        <div class="form-group">
          <label>ダンサーネーム</label>
          <input type="text" name="d_name" class="form-control" value="<%= @user.d_name %>">
        </div>
        <%= link_to "delete", {controller: :users, action: :del}, class: "btn btn-left btn-danger pull-right", method: :post %>
        <input type="submit" value="edit" class="btn btn-right btn-primary pull-right">
      </fieldset>
    </div>
  </div>
<% end %>