<%= form_tag('/users/login') do %>
  <div class="container">
    <%= flash[:notice] %>
    <div class="self-form">
      <fieldset class="form-group">
        <div class="form-group">
          <label>ログインID</label>
          <input type="text" name="user_id" class="form-control" required>
        </div>
        <div class="form-group">
          <label>パスワード</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <input type="submit" value="login" class="btn btn-right btn-primary pull-right">
      </fieldset>
    </div>
  </div>
<% end %>