<%= form_tag('/users/create') do %>
  <div class="container">
    <div class="self-form">
      <fieldset class="form-group">
        <div class="form-group">
          <label>ログインID</label>
          <input type="text" name="user_id" class="form-control" required>
        </div>
        <div class="form-group">
          <label>名前</label>
          <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group">
          <label>ダンサーネーム</label>
          <input type="text" name="d_name" class="form-control">
        </div>
        <div class="form-group">
          <label>パスワード</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <input type="submit" value="登録" class="btn btn-right btn-primary pull-right">
        </div>
      </fieldset>
    </div>
  </div>
<% end %>