<div class="container">
  <h1>ユーザ一覧</h1>
  <table class="table table-hover self-table">
    <thead class="thead">
      <th>名前</th><th>ダンサーネーム</th>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.d_name %></td>
      </tr>
    <% end %>
  </table>
</div>