<div class="container">
  <div class="detail-format">
    <h1 class="detail-font"><%= @event.title %></h1>
    <h3 class="border-bottom">概要</h3>
    <div class="detail-font"><%= @event.text %></div>
    <h3 class="border-bottom">場所</h3>
    <div class="detail-font"><%= @event.place %></div>
    <h3 class="border-bottom">日時</h3>
    <div class="detail-font">
      <% if @event.stime.nil? and @event.etime.nil? %>
      <% elsif @event.stime.nil? and (not @event.etime.nil?) %>
        <%= "〜 #{@event.etime.strftime("%Y/%m/%d %H:%M:%S")}" %>
      <% elsif (not @event.stime.nil?) and @event.etime.nil? %>
        <%= "#{@event.stime.strftime("%Y/%m/%d %H:%M:%S")} 〜" %>
      <% else %>
        <%= "#{@event.stime.strftime("%Y/%m/%d %H:%M:%S")} 〜 #{@event.etime.strftime("%Y/%m/%d %H:%M:%S")}" %>
      <% end %>
    </div>
    <h3 class="border-bottom">参加者</h3>
    <div class="detail-font">
      <ul>
        <% @users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>
    </div>
    <%= form_tag('/entry/add') do %>
      <input type="hidden" name="event_id" value="<%= @event.id %>">
      <input type="submit" class="btn btn-right btn-info pull-right" value="参加">
    <% end %>
    <% if @current_user.id == @event.user_id %>
      <%= link_to "編集", {controller: :events, action: :edit}, class: "btn btn-right btn-primary pull-right" %>
      <%= link_to "削除", {controller: :events, action: :del}, class: "btn btn-right btn-danger pull-right", method: :post %>
    <% end %>

    
  </div>
</div>