<div class="container">
  <h1>イベント一覧</h1>
    <%= flash[:notice] %>
    <%= link_to "new", {controller: :events, action: :new}, class: "btn btn-right btn-primary pull-right" %>
    <div class="container">
    <table class="table table-hover self-table">
      <thead class="thead">
        <th>タイトル</th><th>場所</th><th>日時</th>
      </thead>
      <% @events.each do |event| %>
        <tr>
          <td><a href="/events/<%= event.id %>"><%= event.title %></a></td>
          <td><%= event.place %></td>
          <td>
            <% if event.stime.nil? and event.etime.nil? %>
            <% elsif event.stime.nil? and (not event.etime.nil?) %>
              <%= "〜 #{event.etime.strftime("%Y/%m/%d %H:%M:%S")}" %>
            <% elsif (not event.stime.nil?) and event.etime.nil? %>
              <%= "#{event.stime.strftime("%Y/%m/%d %H:%M:%S")} 〜" %>
            <% else %>
              <%= "#{event.stime.strftime("%Y/%m/%d %H:%M:%S")} 〜 #{event.etime.strftime("%Y/%m/%d %H:%M:%S")}" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    </div>
</div>