
<%= form_tag('/events/new') do %>
  <div class="container">
    <div class="self-form-event">
      <fieldset class="form-group">
        <div class="form-group">
          <label>タイトル</label>
          <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label>場所</label>
          <input type="text" name="place" class="form-control">
        </div>
        <div class="form-group">
          <label>内容</label>
          <textarea name="text" class="form-control" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label>時間</label>
          <input type="datetime-local" name="stime" class="form-control time-form" > 〜 <input type="datetime-local" name="etime" class="form-control time-form">
        </div>
        <input type="hidden" name="user_id" value="<%= @current_user.id %>">
        <input type="submit" value="登録" class="btn btn-right btn-primary pull-right">
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
