// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.self-form-event {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 0px;
}

.self-table {
    max-width: 1000px;
    margin: 40px auto; 
    clear: right;
}

.detail-format{
    max-width: 700px;
    margin: 40px auto;
}

.detail-font {
    margin-bottom: 30px;
}
