// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-right {
    float: right;
    margin: 0px 10px 10px 10px;
}

.btn-left {
    float: left;
    margin: 0px 10px 10px 10px;
}

.self-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 50px;

}

.welcom-page {
    text-align: center;
    margin: 40px 0;
    font-size: 25px;
}