<!DOCTYPE html>
<html>
  <head>
    <title>Avent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Avent</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <% if @current_user %>
          <a class="p-2 text-dark" href="/events">イベント一覧</a>
          <a class="p-2 text-dark" href="/users/show">ユーザ一覧</a>
          <a class="p-2 text-dark" href="/users/<%= @current_user.id %>/edit">ユーザ編集</a>
          <a class="p-2 text-dark" href="/users/logout">Logout</a>
        <% end %>
      </nav>
      <% if @current_user == nil %>
        <a class="p-2 text-dark" href="/users/login">Login</a>
        <a class="btn btn-outline-primary" href="/users/new">Sign up</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
